
[submodule "prj/hive"]
	path = prj/hive
	url = git@github.com:AndyhSmith/Project-Bugs.git
[submodule "prj/mandelbrot"]
	path = prj/mandelbrot
	url = git@github.com:AndyhSmith/Project-Mandelbrot-Set-Javascript.git
[submodule "prj/tree"]
	path = prj/tree
	url = git@github.com:AndyhSmith/Project-Animated-Tree.git
[submodule "prj/menusmith"]
	path = prj/menusmith
	url = git@github.com:AndyhSmith/Project-Pantry.git
